/* ===================================================================
 * fonts.scss
 *
 * ------------------------------------------------------------------- */


/*
 * libre baskerville
================================================================================ */

@font-face {
    font-family: "librebaskerville-regular";
    src: url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff2"), url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "librebaskerville-italic";
    src: url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff2"), url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "librebaskerville-bold";
    src: url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff2"), url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff");
    font-style: normal;
    font-weight: normal;
}


/*
 * montserrat
================================================================================ */

@font-face {
    font-family: "montserrat-black";
    src: url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff2"), url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-extrabold";
    src: url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff2"), url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-bold";
    src: url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff2"), url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-semibold";
    src: url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff2"), url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-medium";
    src: url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff2"), url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-regular";
    src: url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff2"), url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-light";
    src: url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff2"), url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-extralight";
    src: url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff2"), url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-thin";
    src: url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff2"), url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap") format("woff");
    font-style: normal;
    font-weight: normal;
}